/*navigation bar*/
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #45b3e0;
  overflow: hidden;
}
li{
  float: left;
}
li a{
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  color: white;
  font-size: 25px;
}


/*first section*/
h1 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 60px;
  color: #606060;
}
.first-para {
  font-size: 30px;
  color: gray;
}
.first-section {
  display: flex;
  margin-bottom: 100px;
}
.first-sec-div {
  width: 50%;
  margin-left: 6%;
}
.first-sec-div img {
  width: 100%;
}
.skyblue {
  color: #45b3e0;
}
.link {
  font-size: 35px;
  color: white;
  background-image: linear-gradient(rgb(13, 126, 231), aqua);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 50px;
}


/*second section*/
.second-section {
  display: flex;
  margin-bottom: 100px;
  background-image: url(images/frame.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.second-sec-div {
  width: 50%;
  margin-left: 6%;
}
.second-sec-div img {
  width: 100%;
}
.skyblue {
  color: #45b3e0;
}
.link {
  font-size: 35px;
  color: white;
  background-image: linear-gradient(rgb(13, 126, 231), aqua);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 50px;
}
.about-heading {
  font-size: 50px;
}
p {
  font-size: 25px;
}
.recipies {
  text-align: center;
  margin-right: 20%;
  margin-left: 20%;
  margin-bottom: 100px;
}


/*third section*/
.third-section {
  display: flex;
  margin-bottom: 100px;
}
.third-sec-div {
  width: 80%;
  text-align: justify;
  margin-left: 2%;
  margin-right: 2%;
  box-shadow: 10px 10px 30px gray;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 40px;
}
.img-one{
  width: 100%;
  margin-top: 8%;
  border-radius: 20px;
}


/*forth section
h2{
  font-size: 80px;
  
}
h5{
  font-size: 20px;
}
.follwers-count{
  width: 100%;
  text-align: justify;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 5%;
  padding-right: 5%;
  box-shadow: 10px 10px 30px gray;
}
*/


/*footer area*/
.footer{
  text-align: center;
  background-color: #45b3e0;
  padding-top: 20px;
  padding-bottom: 80px;
}
.orange{
  color: white;
}